button {
  color: rgb(243, 210, 138);
  font-size: 40px;
  background-color: red;
  padding: 2%;
  border-color: rgb(243, 210, 138);
  border-radius: 55px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 0, 0, 0.8);
  color: rgb(243, 210, 138);
  border-color: rgb(243, 210, 138, 0.5);
}

button:focus {
  outline:none;
}

.determineLength {
    font-size: 250%;
}

.buttonLength {
  font-size: 45px;
}

.PomodoroClock {
  display: flex;
  align-items: center;
  display: grid;
}

.sessionAndBreak {
  display: flex;
  padding: 5%;
  justify-content: space-around;
}