.determineLength {
    border: 1px solid rgb(226, 25, 25);   
    border-radius: 35px;
    font-size: 250%;
    background-color: rgb(240, 65, 65, 0.5);
}

.buttonLength {
  font-size: 45px;

  /* align-items: center;
      justify-content: center; */


}

.PomodoroClock {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    display: grid;
  }

  .aaa {
    display: flex;
    flex-direction: row;
    padding: 10%;
    justify-content: space-around;
  }
